/14_rgi60_SouthAsiaWest.dbf
/14_rgi60_SouthAsiaWest.prj
/14_rgi60_SouthAsiaWest.shp
/14_rgi60_SouthAsiaWest.shx
/myJson.geojson
/Pakistan_with_Kashmir.cpg
/Pakistan_with_Kashmir.dbf
/Pakistan_with_Kashmir.prj
/Pakistan_with_Kashmir.sbn
/Pakistan_with_Kashmir.sbx
/Pakistan_with_Kashmir.shp
/Pakistan_with_Kashmir.shp.xml
/Pakistan_with_Kashmir.shx
/pak_glaciers.nc
/temp.ipynb